// Body
$body-bg: #EEF2F5;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$table-bg: #ffffff; // Fondo de la tabla
$table-hover-bg: #EEF2F5; // Fondo al hacer hover
