.card-header {
    background-color: #f8f9fa;
}

#card_title {
    margin: 0;
}

.table-responsive {
    margin-top: 20px;
}

table thead th {
    text-align: center;
}

table tbody td {
    text-align: center;
}

.table thead th:nth-child(1), 
.table tbody td:nth-child(1) {
    width: 5%;
}

.table thead th:nth-child(2), 
.table tbody td:nth-child(2),
.table thead th:nth-child(5),
.table tbody td:nth-child(5) {
    width: 20%;
}

.table thead th:nth-child(3), 
.table tbody td:nth-child(3) {
    width: 15%;
}

.table thead th:nth-child(4), 
.table tbody td:nth-child(4) {
    width: 10%;
}

.table thead th:nth-child(6), 
.table tbody td:nth-child(6) {
    width: 20%;
}

.table thead th:nth-child(7), 
.table tbody td:nth-child(7) {
    width: 10%;
    text-align: center;
}

.btn-sm {
    margin-right: 5px;
}

.btn-sm:last-child {
    margin-right: 0;
}
